.tooltip {
    position: absolute;
    top: 885px;
    color: white;
    background-color: black;
    padding: 5px;
    transform: translateX(-100px);
    border-radius: 6px;
    font-size: 20px;
    width: 250px;
}